[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
[submodule "themes/matomo"]
	path = themes/matomo
	url = https://github.com/holehan/hugo-components-matomo.git
